.container {
	width:500px;
	margin:10px auto;
	border: 1px solid #aaa;
	padding:20px;
}
.msgs {
	height:170px;
	overflow-y: scroll;
	margin-bottom: 20px;
	border:1px solid #888;
	border-radius: 3px;
	padding:15px;
}

textarea {
	width:100%;
	height:70px;
}

#send {
	display: block;
}