body {
	font-family: arial;
}

#container {
	width: 700px;
	margin:20px auto;
	border: 1px solid black;
	padding:20px;
}

#container h1 {
	padding:0;
	margin:0;
}

.post {
	margin:10px 0;
	border-bottom:1px solid #ccc;
	padding-bottom:10px;
}

.form textarea {
	display: block;
	width: 100%;
}